html, body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:  rgb(239, 224, 198);
    color: rgb(255, 94, 0);
}

.hidden {
    display: none;
}

/* main header rules */

header {
    background-color: rgb(255, 94, 0);
    padding: 10px 0px;
}

#main-logo {
    width: 550px;
    display: block;
    margin: 0px auto;
}

#character_nav {
    background-color: none;
    background-image: url('../images/db_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

.characters {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

/*---Gives box under characters---*/
.characters li {
    height: 220px;
    margin: 10px 8px;
    background-color: rgb(236, 236, 212);
    text-align: center;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
    box-shadow: 0 155px 0 0 rgb(255, 94, 0) inset;
}

/*---Gives animation when hover---*/
.characters li:hover {
    box-shadow: 0 220px 0 0 rgb(255, 94, 0) inset;
}

.characters li h4 {
    color: rgb(17, 17, 17);
    padding: 15px 12px;
}

/*---Removed underline to the characters name---*/
.characters li a {
    text-decoration: none;
}

article, #instructions {
    padding: 20px;
}

article h3, #instructions {
    font-size: 32px;
    text-align: center;
    margin: 14px;
}

article p, #instructions {
   width: 80%;
   font-size: 20px;
   line-height: 22px;
   text-align: center;
   margin: 0px auto;
}

/*---Sprite---*/

.sprite {
    width: 150px;
    height: 150px;
    /*---Move image from img---*/
    background-image: url('../images/db_sprites.jpg');
}

#frezer {
    background-position: -150px 0;
}

#vegeta {
    background-position: -300px 0;
}

#krillian {
    background-position: -450px 0;
}

#gohan {
    background-position: -600px 0;
}

#picolo {
    background-position: -750px 0;
}

#goku:hover, #frezer:hover, #vegeta:hover, #krillian:hover, #gohan:hover, #picolo:hover {
    background-position-y: -150px;
}

/*---Footer Rules---*/
footer {
    color: rgb(4, 4, 4);
    padding: 5px 0;
    text-align: center;
}

.stickyfooter {
    position: sticky;
    top: 100px;
    height: 80px;
    background-color: rgb(40, 37, 37);
}

/*---6 Lightboxes---*/
.lightbox {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.85);
    background-image: url(../images/goku_lb.png);
    background-repeat: no-repeat;
    background-size: 60vh;
    background-position: 60px bottom;
    z-index: 5000; /*Ya this is crazy, better safe than sorry*/
    display: none;/*display: none; Cancel the lightbox*/
}

#lightbox2 {
     background-image: url(../images/frezer_lb.png);
     background-size: 75vh;
     background-position: 30px bottom;
}

#lightbox3 {
    background-image: url(../images/vegeta_lb.png);
    background-size: 35vh;
    background-position: 140px bottom;
}

#lightbox4 {
    background-image: url(../images/krillian_lb.png);
    background-size: 55vh;
}

#lightbox5 {
    background-image: url(../images/gohan_lb.png);
    background-size: 65vh;
    background-position: 30px bottom;
}

#lightbox6 {
    background-image: url(../images/picolo_lb.png);
    background-size: 65vh;
    background-position: 30px bottom;
}

.lightbox_close {
    position: relative;
    top: 20px;
    left: 95%;
    color:  rgb(255, 94, 0);
    font-size: 48px;
    text-decoration: none;
    font-weight: bolder;
}

.lightbox_close:hover {
    opacity: 0.5;/*0 is transparent, 1 is 100%*/
    color:  rgb(255, 94, 0);
}

.lightbox article {
    width: 55%;
    margin-left: 40%;
    padding-top: 50px;
}

.lb_text, .lb_heading {
    text-align: left;
}

.lb_text {
    margin-left: 0;
    margin-top: 32px;
    line-height: 1.6 !important;
}

.lightbox:target {
     display: block;
}

